@{
    //ViewData["Title"] = "_CartPage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="headings">
    <th scope="col">Name</th>
    <th scope="col">Qty</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
</table>

<div class="parent-cart-div">
    <div class="child-product-div">
        <table>
            <tbody id="cart-id">
            </tbody>
        </table>
    </div>
</div>
<div class="container" id="parent-cart-id">
    <div class="container">
        <label>Total Price:</label>
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" id="total-price-id"
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="search-btn" onclick="UpdateCartTable()">Check out</button>
            </div>
        </div>

        <label>Edit div:</label>
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" id="edit-id"
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
        </div>

        <label>Qty:</label>
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" maxlength="1" id="qty-input-id"
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="search-btn" id="update-button">Update</button>
            </div>
        </div>
        <div class="input-group mb-2 mt-3">
            <select id="lists-2-select">
            </select>

            <div class="input-group-append">
                <button class="search-btn" onclick="UpdateCartTable()" id="delete-list" style="width: 150px;">Delete list</button>
            </div>
        </div>
    </div>
</div>