@{
    ViewData["Title"] = "AboutPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
</head>

<video autoplay muted loop>
    <source src="~/images/videoplayback.mp4" type="video/mp4">
</video>


<div class="parent-about-div">
    <div class="child-about-div">
        <h2>What is sam about?</h2>
        <hr />
        <p>fse fs fs ef sefsefsef sef sef se fsef sefse fse fsef sef sef sef sef seaf esfesf sef sef sef 
            ef sef sef sef esf esf sef esf esfsefsefsegrgjtfyjtd gsrg rhtfdh tdhtdhsr s gsf se e ffgsehgs 
             efs ege sh eh esh seh
        </p>

    </div>

    <div class="child-why-div">
        <h2>Why would you do sam?</h2>
        <hr />
        <p>
            fse fs fs ef sefsefsef sef sef se fsef sefse fse fsef sef sef sef sef seaf esfesf sef sef sef
            ef sef sef sef esf esf sef esf esfsefsefsegrgjtfyjtd gsrg rhtfdh tdhtdhsr s gsf se e ffgsehgs
            efs ege sh eh esh seh 111
        </p>

    </div>

    <div class="child-what-div">
        <h2>What dose sam do for you!</h2>
        <hr />
        <p>
            fse fs fs ef sefsefsef sef sef se fsef sefse fse fsef sef sef sef sef seaf esfesf sef sef sef
            ef sef sef sef esf esf sef esf esfsefsefsegrgjtfyjtd gsrg rhtfdh tdhtdhsr s gsf se e ffgsehgs
            efs ege sh eh esh seh 111
        </p>

    </div>

    <div class="child-awards-div">
        <h1>Awards</h1>
        <hr class="awards-hr"/>

        <img class="award-img" src="~/images/awards.png"/>
        <img class="award-img" src="~/images/awards.png" />
        <img class="award-img" src="~/images/awards.png" />
        <img class="award-img" src="~/images/awards.png" />
    </div>
</div>