@{
    ViewData["Title"] = "AboutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<video autoplay loop>
    <source src="~/video/Woolworths supermarket commercial 1991.mp4" type="video/mp4">
</video>

<div class="container-fluid">
    <div class="card p-5 mt-5 shadow">
        <h1>Why do sam?</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque et quam bibendum, facilisis nisi ut,
            consequat tortor. Maecenas vulputate vestibulum magna at malesuada.
            Cras sit amet commodo lacus. Etiam hendrerit suscipit nisi ut mollis.
            Proin ac massa massa. Nulla viverra hendrerit congue.
            Nam feugiat posuere pharetra. Vivamus eget consectetur mi.
        </p>
    </div>

    <div class="card p-5 mt-5 shadow">
        <h1>What sam can do for you!</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque et quam bibendum, facilisis nisi ut,
            consequat tortor. Maecenas vulputate vestibulum magna at malesuada.
            Cras sit amet commodo lacus. Etiam hendrerit suscipit nisi ut mollis.
            Proin ac massa massa. Nulla viverra hendrerit congue.
            Nam feugiat posuere pharetra. Vivamus eget consectetur mi.
        </p>
    </div>
</div>
