@{
    //ViewData["Title"] = "AccountPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var session_id = sessionStorage.getItem("data");

    if (session_id == null) {
        sessionStorage.removeItem("data");
        window.location.href = '@Url.Action("LoginPage", "Home")';
    }
</script>

<body class="body-2">
    <div class="container">
        <label>Email:</label>
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" id="email-input"
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
        </div>

        <label>Current Theme:</label>
        <div class="input-group mb-2 mt-3">
            <select id="theme-select">
                <option value="Dark Theme">Dark Theme</option>
                <option value="Sams theme">Sams theme</option>
            </select>

            <div class="input-group-append">
                <button class="search-btn" id="save-button">Save theme</button>
            </div>
            <button class="search-btn" onclick="location.href='@Url.Action("Logout", "Home" )'">
                Logout
            </button>
        </div>

        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</body>