@{
    ViewData["Title"] = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/cart.css" />
</head>

<div class="parent-cart-div">

    <div class="cart-div">
        <div class="items-div">
            <div>
                <h2>Items</h2>
                <hr />
                <input id="item-id" />
            </div>

            <div>
                <h2>Qty</h2>
                <hr class="qty-hr"/>
                <input class="qty-id"/>
            </div>
        </div>
        <br />
        <button class="check-out-button">Check out</button>
    </div>
</div>

<script>

    $.ajax({
        type: "GET",
        url: "https://localhost:7034/api/Cart/GetUserCartItems?" +
                                                               "email=" +
                                                                sessionStorage.getItem("email_input"),
        dataType: "JSON",
        success: function (data) {

            console.log(data)

            for (var i = 0; i < data.length; i++) {

                $.ajax({
                    type: "GET",
                    url: "https://localhost:7034/api/Item/GetItemById?" +
                                                                    "id=" +
                                                                    data[i].itemId,
                    dataType: "JSON",
                    success: function (response) {

                        console.log(response)
                    }
                })
            }
        }        
    })

</script>