@{
    ViewData["Title"] = "CartPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/cart.css" />
</head>

<div class="parent-cart-div">

    <div class="cart-div">
        <div class="items-div">
            <div>
                <h2>Items</h2>
                <hr />
                <input id="item-id" />
            </div>

            <div>
                <h2>Qty</h2>
                <hr class="qty-hr"/>
                <input class="qty-id"/>
            </div>
        </div>
        <br />
        <button class="check-out-button">Check out</button>
    </div>
</div>