@{
    ViewData["Title"] = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="body-2">
    <div class="container" id="god-div">
        <div id="render-cart">
            <partial name="_CartPage.cshtml" />

        </div>
    </div>
</body>
