@{
    ViewData["Title"] = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/cart.css" />
</head>
<div class="god-div">
    <div class="parent-cart-div">

        <div class="cart-div" id="cart-id">
        </div>

        <div id="loader" class="lds-dual-ring hidden overlay"></div>

        <br />
        <button class="check-out-button">Check out</button>
        <input id="total-price" placeholder="Total price" class="total-price-input" value="" />
    </div>

    <div class="parent-2-cart-div" id="edit-page-id">
        <h2>Edit div:</h2>
        <input placeholder="Chosen cart item.." id="id-input"/>
        <br />

        <div class="update-div">
           
            <div>
                <h2>Qty</h2>
                <input placeholder="Add qty..." maxlength="1"/>
            </div>

            <div>
                <h2>Product</h2>
                <select id="product-drop-down-box">
                    
                </select>
            </div>

        </div>
    </div>
</div>

<script>

    var cart_array = []
    var item_array = []

    $.ajax({
        type: "GET",
        url: "https://localhost:7034/api/Cart/GetUserCartItems?" +
                                                               "email=" +
                                                                sessionStorage.getItem("email_input"),
        dataType: "JSON",
        beforeSend: function () {
            $('#loader').removeClass('hidden')
        },
        success: function (data) {

            cart_array = data
            buildCartDivs(cart_array)
            console.log(data)
        },
        complete: function () {
            $('#loader').addClass('hidden')
        },
    })

    $.ajax({
        type: "GET",
        url: "https://localhost:7034/api/Item/GetAllItems",
        dataType: "JSON",
        beforeSend: function () {
            $('#loader').removeClass('hidden')
        },
        success: function (data) {

            cart_array = data
            buildItemNameDropDownBox(cart_array)
            console.log(cart_array)
        },
        complete: function () {
            $('#loader').addClass('hidden')
        },
    })

    function buildCartDivs(data) {

        var body = document.getElementById('cart-id')

        for (var i = 0; i < data.length; i++) {

            var div = `
                                    <div class="items-div" id="items-id">
                                        <div>
                                            <h2>Items</h2>
                                            <hr />
                                            <input id="item-id" value="${data[i].itemName}" readonly="readonly"/>
                                        </div>

                                        <div>
                                            <h2>Qty</h2>
                                            <hr class="qty-hr"/>
                                            <input class="qty-id" id="qty-input" value="1" readonly="readonly"/>
                                        </div>

                                        <div>
                                            <h2>Price</h2>
                                            <hr class="qty-hr"/>
                                            <input class="qty-id" id="price-id" value="$${data[i].itemPrice}" readonly="readonly"/>
                                        </div>
                                            <button class="minus-button" id="edit-id">${data[i].id}</button>
                                            <button class="add-button" id="delete-id-id">${data[i].id}</button>
                                    </div>`
            body.innerHTML += div

            var id = body.getElementsByClassName('add-button')

            for (var i = 0, len = id.length; i < len; i++) {
                for (var j = 0, len = id.length; j < len; j++) {

                    id[j].onclick = function () {

                        $.ajax({
                            type: "DELETE",
                            url: "https://localhost:7034/api/Cart/DeleteItem?" +
                                "id=" +
                                this.innerHTML,

                            dataType: "JSON",
                            success: function (data) {

                                
                                console.log(data)
                            }
                        })
                        window.location.reload()
                    }
                }
            };

            var id_1 = body.getElementsByClassName('minus-button')
            var input = document.getElementById('id-input')

            for (var g = 0, len = id_1.length; g < len; g++) {

                id_1[g].onclick = function () {

                    input.value = this.innerHTML
                }
            }
        }
    }

    function buildItemNameDropDownBox(data) {

        var table = document.getElementById('product-drop-down-box')
        for (var i = 0; i < data.length; i++) {

            var row = `<option>${data[i].itemName}</option>`
            table.innerHTML += row
        }
    }
</script>