@{
    ViewData["Title"] = "LoginPage";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <div class="login-div">
        <h2 class="email-h2">Email</h2>
        <input id="email-input"/>

        <h2>Password</h2>
        <input type="password" id="password-input"/>
        <br />

        <button id="login-button-id">Login</button>
        <br />
        <h4 id="error-message-incorect-details">Details invalid</h4>
        <a>Sign Up?</a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>

    $("#login-button-id").click(function (event){

        var email_input = $("#email-input").val()
        var password_input = $("#password-input").val()
        var response_good = "Authorized"
        var response_bad = '"Unauthorized"'
        var url = "https://localhost:7034/Home/HomePage"
        var error_message_incorect_details = $("#error-message-incorect-details")
        sessionStorage.setItem("email_input", email_input)
        $.ajax({
            type: "GET",
            url: "https://localhost:7034/api/User/AuthenticateUserLogin" + "?" + 
                                                             "email=" +
                                                             email_input +
                                                             "&password=" +
                                                             password_input,
            dataType: "JSON",
            data: Request,
            success: function (data){
                if (data == response_good){
                    error_message_incorect_details.hide()
                    window.location.href = url
                }
            },
            error: function (data){
                error_message_incorect_details.show()
            }
        })
    });


</script>
@RenderBody()