@{
    ViewData["Title"] = "LoginPage";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <div class="login-div">
        <h2 class="email-h2">Email</h2>
        <input />

        <h2>Password</h2>
        <input />
        <br />

        <button id="login-button-id">Login</button>
        <br />
        <a>Sign Up?</a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>

    $("#login-button-id").click(function (event)){

        window.location.href = ""
    });


</script>
@RenderBody()