@{
    ViewData["Title"] = "ProductPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/product.css" />
</head>

<div class="parent-product-div">

    <div class="products-div">
        <h2>Title:</h2>
        <input class="text-input" id="title-input" />

        <h2>Description:</h2>
        <textarea class="add-text-area" id="description-input"></textarea>

        <h2>Unit Size:</h2>
        <input class="text-input" id="unit-size-input" />

        <button class="add-button" id="add-to-list">Add product to cart</button>
    </div>
</div>