@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="body-2">
    <div id="snackbar">Item added to cart</div>
    <div class="container w-100">
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" id="search-input" placeholder="Search table..."
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="search-btn" onclick="searchTable()">Search</button>
            </div>
        </div>

        <table class="headings">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Unit Size</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </table>

        <div class="parent-product-div">
            <div class="child-product-div">
                <table>
                    <tbody id="my-table">
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>