@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="body-2">
    <div id="snackbar">Item added to cart</div>
    <div class="container w-100">
        <div class="input-group mb-2 mt-3">
            <input type="text" class="form-control" id="search-input" placeholder="Search table..."
                   aria-label="Recipient's username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="search-btn" onclick="searchTable()">Search</button>
            </div>
        </div>

        <table class="headings">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Unit Size</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </table>

        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent-product-div">
            <div class="child-product-div">
                <table>
                    <tbody id="my-table">
                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="input-group mb-2 mt-3">
            <select id="lists-select">
                <
            </select>

            <div class="input-group-append">
                <button class="search-btn" id="modal-btn" style="width: 150px;" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Create new list</button>
            </div>
        </div>
    </div>
</body>