@{
    ViewData["Title"] = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/product.css" />
</head>

<div class="god-div" id="god-div">
    <div id="loader" class="lds-dual-ring hidden overlay"></div>
</div>

<script>

    var product_array = []

    $.ajax({
        type: "GET",
        url: "https://localhost:7034/api/Item/GetAllItems",
        dataType: "JSON",
        beforeSend: function () {
            $('#loader').removeClass('hidden')
        },
        success: function (response) {
            product_array = response
            buildProductDivs(product_array)
            console.log(product_array)
        },
        complete: function () {
            $('#loader').addClass('hidden')
        },
    })

    function buildProductDivs(data) {
        var body = document.getElementById('god-div')

        for (var i = 0; i < data.length; i++) {
            var div = `
                            <div class="parent-product-div" id="parent-product-div">
                                    <div class="products-div">
                                        <h2>Title:</h2>
                                        <input class="text-input" id="title-input" value="${data[i].itemName}" />

                                        <h2>Description:</h2>
                                        <textarea class="add-text-area" id="description-input">${data[i].itemDescription}</textarea>

                                        <h2>Unit Size:</h2>
                                        <input class="text-input" id="unit-size-input" value="${data[i].itemUnitSize}"/>

                                        <button class="add-button" id="add-to-list" >${data[i].id}</button>
                                    </div>
                            </div>`
            body.innerHTML += div

            var id = body.getElementsByClassName('add-button')

            for (var i = 0, len = id.length; i < len; i++) {
                for (var j = 0, len = id.length; j < len; j++) {

                    id[j].onclick = function () {

                        $.ajax({
                            type: "GET",
                            url: "https://localhost:7034/api/Item/GetItemById?" +
                                                                           "id=" +
                                                                           this.innerHTML,
                            dataType: "JSON",
                            success: function (data) {
                                
                                console.log(data)

                                for (var i = 0; i < data.length; i++) {

                                    $.ajax({
                                        type: "POST",
                                        url: "https://localhost:7034/api/Cart/PostSingleCartItem?" +
                                                                                                "UserEmail=" +
                                                                                                sessionStorage.getItem("email_input") +
                                                                                                "&ItemName=" +
                                                                                                data[i].itemName +
                                                                                                "&ItemUnitSize=" +
                                                                                                data[i].itemUnitSize +
                                                                                                "&ItemPrice=" +
                                                                                                data[i].itemPrice +
                                                                                                "&ItemQty=" +
                                                                                                1,
                                        dataType: "JSON",
                                        success: function (response) {

                                            console.log(response)
                                        }
                                    })
                                }
                            }
                        })
                    }
                }
            };
        }
    }
</script>