@{
    ViewData["Title"] = "PyramidChain";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/css/pyramid_chain.css" />
</head>

<video autoplay muted loop>
    <source src="~/images/yt1s.com - Space Flight Loop.mp4" type="video/mp4">
</video>

<body>  
            <div class="sam-sun">
                <div class="sam-sun-anti">
                    <div class="mercury">
                    </div>
                </div>

                <div class="sam-sun-anti-2">
                    <div class="venus">
                    </div>
                </div>

                <div class="sam-sun-anti-3">
                    <div class="earth">
                    </div>
                </div>

                <div class="sam-sun-anti-4">
                    <div class="mars">
                    </div>
                </div>

                <div class="sam-sun-anti-5">
                    <div class="jupiter">
                    </div>
                </div>

                <div class="sam-sun-anti-6">
                    <div class="uranus">
                    </div>
                </div>

                <div class="sam-sun-anti-7">
                    <div class="neptune">
                    </div>
                </div>
            </div>

            <button onclick=
                        "window.location.href = 
                        '@Url.Action("Index", "Home")'" 
                    class="back-to-reality">Back to reality
            </button>
            <h2>Sams perspective</h2>
            <br />
            <br />
            <button class="back-to-reality">Light Speed</button>
</body>
</html>