body {
}

.account-div {
    position: absolute;
    display: inline-block;
    background-color: #0b0b0bdf;
    border-radius: 10px;
    border: solid;
    border-color: #ffffff30;
    margin-top: 6%;
    height: 80%;
    width: 98.9%;
}

h2 {
    color: #ffffffc4;
    font-family: Arial;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}

input {
    margin-left: 2px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: Arial;
    border: none;
    height: 30px;
    width: 180px;
}

.save-button {
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
    border: solid;
    border-radius: 10px;
    background-color: #13172d;
    height: 60px;
    width: 150px;
    color: #c3c7d5ca;
}

.save-button:hover {
    font-style: normal;
    box-shadow: none;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
}

select {
    margin-left: 10px;
    border: solid;
    border-radius: 10px;
    background-color: #13172d;
    height: 40px;
    width: 170px;
    color: #c3c7d5ca;
}