body {
    
}

.hero-page {
    display: none;  
}

.parent-cart-div {
    position: absolute;
    background-color: #0b0b0bdf;
    border-radius: 10px;
    border: solid;
    border-color: #ffffff30;
    margin-top: 6%;
    width: 40%;
    height: 85%;
}

.cart-div {
    position: absolute;
    overflow: auto;
    max-height: 86%;
    border: none;
    border-bottom: solid;
    border-color: #ffffff30;
    border-width: 3px;
}

.items-div {
    display: inline-flex;
}

h2 {
    font-family: Arial;
    color: #c3c7d5ca;
    font-size: 40px;
    padding-left: 10px;
}

hr {
    margin-left: 10px;
    margin-top: -30px;
    width: 120px;
    border-color: #edeef1f0;
}

.qty-hr {
    margin-top: -30px;
    width: 80px;
    border-color: #edeef1f0;
}

input {
    margin-bottom: 10%;
    margin-left: 10px;
    width: 15vh;
    border: none;
    font-family: Arial;
    font-size: 20px;
    color: #edeef1f0;
    background-color: transparent;
}

.total-price-input {
    margin-top: 90%;
    margin-left: 60%;
}

.add-button {
    background-image: url("/images/bin.png");
    background-size: 56px;
    background-position-x: -1px;
    background-position-y: -2.5px;
    margin-top: 35px;
    border: solid;
    margin-right: 40px;
    font-size: 1px;
    border-radius: 80px;
    background-color: #13172d;
    height: 57px;
    width: 60px;
    color: transparent;
}

.minus-button {
    background-image: url("/images/edit.png");
    background-size: 56px;
    background-position-x: 4px;
    background-position-y: -6.5px;
    margin-top: 35px;
    border: solid;
    margin-right: 40px;
    font-size: 1px;
    border-radius: 80px;
    background-color: #13172d;
    height: 57px;
    width: 60px;
    color: transparent;
}

.minus-button:hover {
    font-style: normal;
    box-shadow: none;
    border: solid;
    background-color: #00aaff4a;
    color: transparent;
    border-color: white;
    border-width: 3px;
}


.add-button:hover {
    font-style: normal;
    box-shadow: none;
    border: solid;
     background-color: #00aaff4a;
    color: transparent;
    border-color: white;
    border-width: 3px;
}

.check-out-button {
    position: absolute;
    margin-left: 10px;
    border: solid;
    border-radius: 10px;
    background-color: #13172d;
    height: 60px;
    width: 150px;
    margin-top: 92.5%;
    color: #c3c7d5ca;
}

.check-out-button:hover {
    font-style: normal;
    box-shadow: none;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0b0b0bdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #13172d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #233490;
    transition: 0.5s;
}