body {
    background-image: linear-gradient(#00063726, #00063726), url("../images/pexels-ricardo-esquivel-5843172.jpg");
    background-size: 100%;
    background-position-y: -530px;
    margin-bottom: 60px;
}

img {
    background-color: white;
    margin: 13px;
    border-radius: 10px 0px 0px 0px;
    width: 8%;
    height: 15%;
    margin-right: 92%;
}

.login-div {
    position: absolute;
    text-align: center;
    display: inline-block;
    background-color: #0b0b0bdf;
    border-radius: 10px;
    border: solid;
    border-color: #ffffff30;
    height: 870px;
    margin-top: 1%;
    width: 98.7%;
}

h2 {
    color: white;
    font-family: Arial;
    font-size: 60px; 
    color: #c3c7d5ca;
}

.email-h2 {
    margin-top: 7%;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: solid;
    border-color: #c3c7d5ca;
    border-width: 1px;
    font-family: Arial;
    font-size: 20px;
    color: white;
}

input:hover {
    border-color: white;
}

button {
    border: solid;
    border-radius: 10px;
    background-color: #13172d;
    margin-top: 2%;
    height: 50px;
    width: 180px;
    font-size: 20px;
    color: #c3c7d5ca;
    margin-bottom: 20px;
}

button:hover {
    transition: 1s;
    font-style: normal;
    box-shadow: none;
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
    cursor: pointer;
}

a {
    color: white;
    font-family: Arial;
    font-size: 20px;
    color: #c3c7d5ca;
}

a:hover {
    transition: 1s;
    color: white;
    cursor: pointer;
}

h4 {
    display: none;
    color: #ff0000;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 20px;
}